@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

input[type="password"]::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
}

input::placeholder {
    font-size: 15px;
    color: #8e8e8e;
}

button:focus {
    outline: none;
}

p {
    color: #8e8e8e;
    font-size: 14px;
}

a {
    color: black;
}
/* ------------------------------------ */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    text-align: center;
    background: white;
    border-bottom: 1px solid #8e8e8e;
}

header .headerWrap {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

header .headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 5%;
    height: 100%;
    color: #4b89eb;
}

header .headerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 55%;
    height: 100%;
    margin-right: 50px;
}

header .headerNav ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .headerNav li {
    font-size: 14px;
    font-weight: 600;
    width: 120px;
}

header .headerNav li a {
    color: #4a4a4a;
}

header .headerNav li a:hover {
    color: #4b89eb;
}

header .searchNav {
    position: absolute;
    right: 25%;
}

header .searchNav input {
    width: 200px;
    height: 30px;
    border-radius: 12px;
    outline: 2px solid #8e8e8e;
    border: 0;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    transition: .3s;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
}

header .searchNav input::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

header .searchNav input:focus {
    outline: 2px solid #4b89eb;
    transition: .3s;
}

header .searchNav:focus::placeholder {
    color: #a9b9d1;
    transition: .3s;
}

header .headerUser {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    width: 10%;
    height: 100%;
}

header .signin-btn , header .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 32px;
    margin: 0 10px;
    color: black;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
}

header .signin-btn, header .signup-btn {
    border: 1px solid #8e8e8e;
    border-radius: 15px;
    transition: .3s;
}

header .signin-btn:hover {
    background: #ededed;
    transition: .3s;
}

header .signup-btn {
    border: 1px solid #4b89eb;
    background: #4b89eb;
}

header .signup-btn:hover {
    border: 1px solid #437ad1;
    background: #437ad1;
    transition: .3s;
}

header .signin-btn p , header .signup-btn p {
    width: 80px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    color: #8e8e8e;
}

header .signup-btn p{
    color: white;
}

main {
    margin-top: 80px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

article {
    width: 50%;
    height: 50%;
}

section {
}

.write-btn {
    position: absolute;
    left: 24.5%;
    top: 30px;
    border: 1px solid #4b89eb;
    background: #4b89eb;
    border-radius: 15px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    margin: 0 10px;
    color: black;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
    color: white;
}

.write-btn:hover{
    border: 1px solid #437ad1;
    background: #437ad1;
    transition: .3s;
}


.write-btn p {
    color: white;
    font-size: 14px;
    font-weight: 450;
}

#section , #section2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#section{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10% 0 0 0;
}

#section .category {
    width: 95%;
    height: 30px;
    background: #c2daf0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 7px 20px rgb(0 0 0 / 10%);
}

#section .category h1 {
    margin-left: 30px;
}

#section .border-box {
    width: 100%;
    height: 100%;
}

#section .border-box ol {
    width: 100%;
    padding: 0;
}

#section .border-info {
    padding-left: 20px;
}

#section .border-info span:last-child {
    margin-left: 80%;
}

#section .border-info span {
    font-size: 14px;
}

#section .border-title {
    margin: 15px 0 10px;
    padding-left: 20px;
    position: relative;
}

#section .border-title h1 {
    font-size: 18px;
    margin: 7px 0 5px;
}

#section .border-title span {
    font-size: 10px;
    border: 1px solid #b5d2f5;
    padding: 2px 7px;
    border-radius: 7px;
    background: #b5d2f5;
    color: #3d81d4;
}

#section .border-title a {
    color: #4a4a4a;
}

#section .border-title a:hover {
    color: #4b89eb;
}

#section .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

footer p {
    font-size: 14px;
}

