<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/initial.css">
    <title></title>
</head>
<body>
<header>
    <div class="headerWrap">
        <div class="headerLogo">
            <h1><a href="/" style="color: #4b89eb;">Domunity</a></h1>
        </div>
        <div class="headerNav">
            <ol>
                <li><a href="#">QnA</a></li>
                <li><a href="#">커뮤니티</a></li>
                <li><a href="#">고민</a></li>
                <li><a href="#">스터디</a></li>
            </ol>
        </div>
        <div class="searchNav">
            <input type="text" name="" value="" placeholder="검색">
        </div>
        <div class="headerUser">
            <th:block sec:authorize="isAnonymous()">
                <div class="signin-btn"><a href="/auth/signin"><p>로그인</p></a></div>
                <div class="signup-btn"><a href="/auth/signup"><p>회원가입</p></a></div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <div class="signin-btn"><a href="/auth/update"><p>개인정보</p></a></div>
                <div class="signup-btn"><a href="/logout"><p>로그아웃</p></a></div>
            </th:block>

        </div>
    </div>
</header>
<main>
    <article class="">
        <section id="section">
            <div class="category">
                <h1>QnA</h1>
            </div>
            <div class="border-box">
                <ol th:each="boardsQnA : ${boardsQnA}">
                    <li>
                        <div class="border-info">
                            <span th:text="${boardsQnA.mid.memberName}">id</span>
                            <span style="color: #8e8e8e" th:text="${#strings.substring(boardsQnA.regDate,0,10)}">time</span>
                            <span style="color: #8e8e8e" th:text="|댓글 ${boardsQnA.boardCount}개|">comment</span>
                        </div>
                        <div class="border-title">
                            <h1 th:text="${boardsQnA.boardTitle}">테스트 제목입니다.</h1>
                        </div>
                        <div class="line">
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section id="section">
            <div class="category">
                <h1>커뮤니티</h1>
            </div>
            <div class="border-box">
                <ol th:each="boardsCommunity : ${boardsCommunity}">
                    <li>
                        <div class="border-info">
                            <span th:text="${boardsCommunity.mid.memberName}">id</span>
                            <span style="color: #8e8e8e" th:text="${#strings.substring(boardsCommunity.regDate,0,10)}">time</span>
                            <span style="color: #8e8e8e" th:text="|댓글 ${boardsCommunity.boardCount}개|">comment</span>
                        </div>
                        <div class="border-title">
                            <h1 th:text="${boardsCommunity.boardTitle}">테스트 제목입니다.</h1>
                        </div>
                        <div class="line">
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </article>
    <article class="">
        <section id="section2">
            <div class="category">
                <h1>고민</h1>
            </div>
            <div class="border-box">
                <ol th:each="boardWorry : ${boardWorry}">
                    <li>
                        <div class="border-info">
                            <span th:text="${boardWorry.mid.memberName}">id</span>
                            <span style="color: #8e8e8e" th:text="${#strings.substring(boardWorry.regDate,0,10)}">time</span>
                            <span style="color: #8e8e8e" th:text="|댓글 ${boardWorry.boardCount}개|">comment</span>
                        </div>
                        <div class="border-title">
                            <h1 th:text="${boardWorry.boardTitle}">테스트 제목입니다.</h1>
                        </div>
                        <div class="line">
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section id="section2">
            <div class="category">
                <h1>스터디</h1>
            </div>
            <div class="border-box">
                <ol th:each="boardStudy : ${boardStudy}">
                    <li>
                        <div class="border-info">
                            <span th:text="${boardStudy.mid.memberName}">id</span>
                            <span style="color: #8e8e8e" th:text="${#strings.substring(boardStudy.regDate,0,10)}">time</span>
                            <span style="color: #8e8e8e" th:text="|댓글 ${boardStudy.boardCount}개|">comment</span>
                        </div>
                        <div class="border-title">
                            <h1 th:text="${boardStudy.boardTitle}">테스트 제목입니다.</h1>
                        </div>
                        <div class="line">
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </article>
</main>
<footer>
    <div class="footerWrap">
        <p>Copyright &copy; donoun6 2023</p>
    </div>
</footer>
</body>
</html>
